/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

* :hover {
  text-decoration: none;
}

/* * :visited {
  color: initial;
} */

/* CSS Importing Fonts */
@font-face {
  font-family: "BigShoulders";
  src: url('fonts/BigShoulders-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: "BigShoulders";
  src: url('fonts/BigShoulders-ExtraBold.woff2');
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url('fonts/Montserrat-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url('fonts/Montserrat-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url('fonts/Montserrat-Bold.woff2');
  font-weight: 700;
}

/* CSS Default Setup Our Way */
body * {
  font-family: "Montserrat";
  font-weight: 400;
  color: #08263C;
}

body {
  overflow-x: hidden;
}

header a {
  color: #BC5A1B;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #08263c45;
  z-index: 20;
}

.header-inner {
  display: flex;
  align-items: center;
  padding: 10px 60px;
}

/* Burger Menu */
.burger-menu {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.burger-s,
.burger-s::before,
.burger-s::after {
  height: 3px;
  width: 100%;
  border-radius: 50px;
  background-color: #08263C;
}

.burger-s::after,
.burger-s::before {
  content: "";
  position: absolute;
  right: 0;
}

.burger-s::before {
  top: 5px;
  width: 70%;
}

.burger-s::after {
  bottom: 5px;
  width: 40%;
}

nav {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  height: 50px;
}

nav a {
  position: relative;
  line-height: 20px;
}

.nav-item::after {
  content: "";
  display: block;
  border-bottom: 2px solid #08263C;
  position: absolute;
  width: 100%;
  bottom: -12px;
  padding-top: 5px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform .5s cubic-bezier(.19, .43, .37, 1);
}

.nav-item:hover::after {
  transform: scaleX(1);
  transition: transform .5s cubic-bezier(.19, .43, .37, 1);
}

main {
  padding-top: 75px;
  background-color: #FAF5E2;
}

.hero-shot {
  height: calc(100vh - 73px);
  /* background-image: url(images/hero-shot-1-removebg.png), url(images/hero-shot-1-removebg.png); */
  /* background-repeat: no-repeat,
    no-repeat;
  background-position: 50% 50%;
  background-position-x: 110%, 100%;
  background-position-y: 90%, 60%; */
  /* background-position: 20% 80%, 20% 30%; */
  /* background-size: cover; */
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.hero-bg {
  position: absolute;
  right: 0;
}

.title {
  font-weight: 700;
  max-width: 60%;
  font-size: 90px;
  margin-left: 30px;
  letter-spacing: 1px;
}

.hero-shot p {
  font-size: 20px;
  max-width: 70%;
  margin-left: 30px;
}

.max-width {
  max-width: 80vw;
  margin: 0 auto;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  column-gap: 1%;
  row-gap: 20px;
  justify-content: center;
}

.student-post {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  position: relative;
  align-items: center;
}

.post-info {
  width: 45%;
}

.fave,
.share {
  position: absolute;
  margin: 10px;
  bottom: 0;
}

.fave {
  right: 0;
}

.share {
  right: 50px;
}

.posts-container h2 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 50px;
  color: #08263C;
  text-transform: uppercase;
  width: 100%;
}

.posts-container h3 {
  margin: 5px 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.posts-container p {
  padding-bottom: 15px;
  font-size: 14px;
}

.helper {
  display: none;
}

footer {
  background-color: #08263C;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-row {
  display: flex;
  flex-direction: column;
}

.footer-row a,
.copyright {
  color: #FAF5E2;
  padding-bottom: 10px;
}

.copyright {
  font-size: 12px;
  text-align: center;
}

/* header::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: blue;
  opacity: .45;
  position: absolute;
  z-index: 0;
} */

/* .header-bg {
  width: 100%;
  height: 100%;
  background-color: blue;
  opacity: .45;
  position: absolute;
  z-index: 0;
} */

/* .mihaela-post {
  position: sticky;
  background-color: blue;
  top: 73px;
} */

/* .emil-post {
  position: relative;
}

.emil-post h1 {
  position: absolute;
  bottom: 0;
  right: 0;
} */

/* Media queries for responsive design */
@media (min-width: 1024px) {
  .burger-menu {
    display: none;
  }

  .account {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 10px;
  }

  .account span {
    white-space: nowrap;
  }
}

@media (max-width: 1024px) {
  .max-width {
    max-width: 95vw;
    height: auto;
  }

  .hero-bg img {
    width: 70%;
    height: auto;
  }

  .header-inner {
    align-items: flex-end;
  }

  .account {
    padding: 5px 0;
    margin-left: auto;
  }

  .account span {
    display: none;
  }

  .burger-menu {
    margin: 5px 20px;
    margin-right: 0;
  }

  nav {
    position: fixed;
    height: 100dvh;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform .5s cubic-bezier(0.19, 0.43, 0.37, 1);
    max-width: 350px;
    right: 0;
    top: 0;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #FAF5E2;
    z-index: 17;
    padding: 50px 10px;
  }

  .js-nav {
    transform: translateX(0);
    transition: transform .5s cubic-bezier(0.19, 0.43, 0.37, 1);
  }

  .post-info {
    width: 100%;
  }

  .footer-container {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .footer-row {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  nav {
    max-width: calc(100% - 20px);
    transform: translateY(100%);
    height: auto;
    top: auto;
    bottom: 0;
    border-radius: 30px 30px 0 0;

  }

  .js-nav {
    transform: translateY(0);
  }

}